.DS_Store
/October_2nd/
/github_upload/
/manual_copy/
/test_copy_session2/
/research_experiment/October_2nd/GroupA_Session1_October2nd/MEG/images/pic*.jpeg
/research_experiment/October_2nd/GroupA_Session1_October2nd/MEG/images/questionMark.jpeg
/research_experiment/October_2nd/GroupA_Session1_October2nd/MEG/images/questionMark.jpg
/research_experiment/October_2nd/GroupA_Session1_October2nd/MEG/images/whitePic.jpg
